<!DOCTYPE html>
<link href="../../static/css/estilo1.css" rel="stylesheet" type="text/css"/>
<html>
    <head>
        <title>¡PAISES DEL PLANETA!</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header" id="encabezado">       
            <h1 style="color:white;" class="h1">¡PAISES DEL PLANETA!</h1>
        </header>
        <footer th:fragment="footer" class ="footer">
                <p>&COPY;Derechos Reservados 2023</p>
        </footer>
    </body>
</html>