<!DOCTYPE html>
<link href="css/estilo1.css" rel="stylesheet" type="text/css"/>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Práctica 01</title>
        <meta charset="UTF-8">
    </head>
    <div class="container">
        <body>
                <header th:replace="layout/plantilla :: header"/>
                    <br/>
                    <br/>
                    <h2 class="h2">🌎 Descubre el mundo 🌎</h2>
                </header>
                <footer th:replace="layout/plantilla :: footer" />
        </body>
    </div> 
</html>
